<!doctype html>
<html ng-app="app">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Music App Gemma</title>

	<!-- Pure is so stripped back that I can prototype custom css quickly - but still have the basics -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	
	<!-- Cutest fonts for a music app -->
	<link href='https://fonts.googleapis.com/css?family=Andada|Signika+Negative' rel='stylesheet' type='text/css'>
	
	<!-- Font Awesome - mainly for their lovely icons :) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="dist/css/main.css">
	
</head>

<body>
	<header>
		<div class="pure-g">
			<div class="pure-u-1-4">
				<div class="inner inner-left">
					<div class="font-heading mt8">Music App Gemma</div>
				</div>
			</div>
			<div class="pure-u-1-2"></div>
			<div class="pure-u-1-4">
				<div class="inner inner-right font-dark" ng-controller="searchController">
					<form class="pure-form">
						<input type="text" ng-model="global.musicSearch" placeholder="Search music" class="pure-input-1" required>
					</form>
				</div>
			</div>
		</div>
	</header>
	<section class="content full-height">
		<div class="pure-g full-height">
			<div playlist id="playlist" class="pure-u-1-3 pure-u-md-1-4 full-height" ui-view="playlist">
				<!-- Playlist content -->
			</div>
			<div id="choices" class="pure-u-2-3 pure-u-md-3-4 full-height" ui-view="music">
				<!-- Music content -->
			</div>
		</div>
	</section>
	<div ui-view="player"></div>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="app/lib/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/services/playlistService.js"></script>
	<script type="text/javascript" src="app/services/musicService.js"></script>
	<script type="text/javascript" src="app/controllers/playlist.js"></script>
	<script type="text/javascript" src="app/controllers/player.js"></script>
	<script type="text/javascript" src="app/controllers/music.js"></script>
</body>
</html>