<div class="panel-heading">
	<div class="inner inner-left">
		<div class="font-heading">Choices</div>
	</div>
</div>

<div class="panel-body">
	<table class="musicapp-table" width="100%">
		<thead>
			<tr>
				<td>#Title</td>
				<td>#Artist</td>
				<td>#Genre</td>
				<td>#Rating</td>
				<td>Duration</td>
				<td></td>
			</tr>
		<thead>
		<tbody>
			</li>
			<tr class="music-items" ng-repeat="item in music | filter: global.musicSearch">
				<td>{{ item.title }}</td>
				<td>{{ item.artist }}</td>
				<td>{{ item.genre }}</td>
				<td>{{ item.rating }}</td>
				<td>{{ getDurationMinutes(item.duration) }}:{{ getDurationSeconds(item.duration) }}</td>
				<td><i class="btn btn-add-song fa fa-plus cursor-pointer" ng-click="addToPlaylist(item)"></i></td>
			</tr>
		</tbody>
	</table>
</div>