<div class="panel-border"></div>
<div class="panel-heading">
	<div class="inner inner-left">
		<div class="font-heading">Playlist</div>
	</div>
</div>
<div class="panel-body">
	<div class="inner inner-left inner-right">
		<ul class="panel-list panel-stacked">
			<li class="panel-item" ng-repeat="item in playlist">
				<span class="pure-g">
					<span class="pure-u-1-5">
						<span class="panel-meta">{{ $index+1 }}</span>
					</span>
					<span class="pure-u-3-5 playlist-play-hover" ng-click="playSong(item.song, $index)">
						<span class="panel-meta">{{ item.song.title }}</span>
						<span class="panel-meta font-dehighlight-gray">{{ item.song.artist }}</span>
					</span>
					<span class="pure-u-1-5">
						<span class="float-right mt10" ng-click="removeSong($index)"><i class="fa fa-times"></i></span>
						<span class="float-right mt10 mr15" ng-click="playSong(item.song, $index)"><i class="fa fa-play"></i></span>
					</span>
				</span>
			</li>
		</ul>
	</div>
</div>