<section id="player">
	<div class="player-progress">
		<div class="player-progress-trace" ng-style="{ width: percentagePlayed + '%' };">
			<!-- Progress Bar -->
		</div>
	</div>
	<div class="player-content pure-g">
		<div class="player-song-meta pure-u-3-5">
			<div class="inner" ng-show=songMetaViewable>
				<div class="font-heading">{{ song.title }}</div>
				<div class="font-heading">{{ song.artist }}</div>
				<div class="">{{ getDurationMinutes(song.duration) }}:{{ getDurationSeconds(song.duration) }}</div>
			</div>
		</div>
		<div class="player-controls pure-u-2-5">
			<div class="inner float-right" >
				<div class="player-control-inline" ng-click="playPrevSong()">
					<i class="player-control-button fa fa-step-backward"></i>
				</div><!--
				
				--><div class="player-control-inline" ng-show=playing ng-click="pauseSong()">
					<i class="player-control-button fa fa-pause"></i>
				</div><!--
				
				--><div class="player-control-inline" ng-hide=playing ng-click="playSong()">
					<i class="player-control-button fa fa-play"></i>
				</div><!--
				
				--><div class="player-control-inline" ng-click="playNextSong()">
					<i class="player-control-button fa fa-step-forward"></i>
				</div>
			</div>
		</div>
	</div>
</section>